<!DOCTYPE html>
<html lang="zh-TW">
<head>
<link rel="style" href="{{ url_for('static', filename='css/basic.css') }}">
</head>
<body>
<form class="login-form">
  <p class="login-text">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lock fa-stack-1x"></i>
    </span>
  </p>
  <h2>CX30 中部交流群</h2>
  <h2>版主專屬後台</h2>
  <input type="text" class="login-username" autofocus="true" required="true" placeholder="帳號" />
  <input type="password" class="login-password" required="true" placeholder="密碼" />
  <input type="submit" name="Login" value="登入" class="login-submit" />
</form>
<div class="underlay-photo"></div>
<div class="underlay-black"></div>
</body>
</html>